<h1>Dashboard</h1>

	<table class="table table-striped"
		<thead>
			<tr>
				<th>Number of Products</th>
				<th>Number of Categories</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<h3> <%=@product_count%></h3>
				</td>
				<td>
					<h3> <%=@category_count%></h3>
				</td>
			</tr>
		</tbody>
	<table>

